<h1 class="text-center">Template-Driven Form </h1>

<div class="container  py-4">
  <div class="row mx-atuo justify-content-center">
    <div class="col-md-5 p-3 card">

      <form  #contactForm = "ngForm" (ngSubmit)="signUp()">
        <div class="form-group p-1">
          <input type="text" name="fname" placeholder="FristName.." class="form-control" #firstName = "ngModel" ngModel required>
        <small *ngIf="!firstName?.valid && (firstName?.dirty || firstName?.touched)" class="form-text">
          <small [hidden]="!firstName?.errors?.['required']" class="form-text">
            First Name is required *
          </small>
        </small>
        </div>


        <div class="form-group p-1">
          <input type="text" name="lname" placeholder="LastName.." class="form-control" ngModel #lastName="ngModel" required>
          <small *ngIf="!lastName?.valid && (lastName?.dirty || lastName?.touched)" class="form-text">
            <small [hidden]="!lastName?.errors?.['required']" class="form-text">
              Last Name is required *
            </small>
          </small>
        </div>


        <div class="form-group p-1">
          <input type="email" name="email" placeholder="Email.." class="form-control" ngModel #email = "ngModel" required email>
          <small *ngIf="!email?.valid && (email?.dirty || email?.touched)" class="form-text">
            <small [hidden]="!email?.errors?.['required']" class="form-text">
              Email is required *
            </small>
            <small [hidden]="!email?.errors?.['email']" class="form-text">Invalid Email Id *</small>
          </small>
        </div>

        <div class="form-group p-1">
          <input type="passowrd" name="password" placeholder="Password.." class="form-control" ngModel #password="ngModel" required pattern>
          <small *ngIf="!password?.valid && (password?.dirty || password?.touched)" class="form-text">
            <small [hidden]="!password?.errors?.['required']" class="form-text">
              Password is required *
            </small>
            <small [hidden]="!password?.errors?.['pattern']">Your password must have lower case, upper case and numeric characters.</small>
          </small>
        </div>

        <div ngModelGroup = "address" class="form-group p-1" >
            <input type="text" class="form-control my-2" name="city" placeholder="City.." ngModel required #city = "ngModel">
            
            <input type="text" class="form-control" name="state"  placeholder="state.." ngModel required>
        
                <small *ngIf="!contactForm?.controls?.['address']?.valid && (contactForm?.controls?.['address']?.dirty || contactForm?.controls?.['address']?.touched)"  class="form-text">
                  Fields is required *
                </small>
             
        </div>
        <div class="form-group p-1">
          <label for="gender">Gender :</label>
          <input type="radio" name="gender"  value="Male" class="mx-2" ngModel required>Male
          <input type="radio" name="gender" value="Female" ngModel required> Female
        </div>

        <div class="form-group p-1">
          <label for="isMarried">Married </label>
          <input type="checkbox" id="isMarried" name="isMarried" class="mx-2" ngModel required [(ngModel)]="ismarried">
        </div>
        <div class="form-group p-1">
          <label for="country">country </label>
          <select id="country" name="country" class="mx-2" ngModel ngModel="1" >
            <option value="1">India</option>
            <option value="2">USA</option>
            <option value="3">England</option>
            <option value="4">Singapore</option>
          </select>
        </div>

        <div class="form-group p-1">
          <button type="submit" class="btn btn-primary form-control"  >Submit</button>
          <!-- <button (click)="setvalue()" class="btn btn-success mx-3">SetValue</button>-->
          <button (click)="reset()" class="btn btn-danger form-control mt-2">Reset</button>
        </div>
      </form>
    </div>
  </div>
</div>